.current
    color: red
    font-weight: 900
.second
    color: blue
    font-weight: 900
.outMonth
    opacity: 0
    pointer-events: none
.today
    color: #1593bb
.day
    opacity: 0.5
    pointer-events: none
    text-decoration: line-through

